@media (max-width: 809px) { 
  .cards-container > div {
    grid-column: unset;
  }
}

.card-wrapper {
  height: 305px;
}

@media (min-width: 810px) and (max-width: 1199px) {
  .large-card {
    grid-column: auto / span 3;
  }
}
