@media (max-width: 809px) { 
  .card-container {
    grid-column: unset;
  }
}

.card-wrapper {
  height: 305px;
}

@media (min-width: 810px) and (max-width: 1199px) {
  .large-card {
    grid-column: auto / span 3;
  }
}

@media (max-width: 809px) {
  .large-card {
    grid-column: auto / span 1;
  }
}
