.glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(3.8px);
  -webkit-backdrop-filter: blur(3.8px);
}

.animation [role="button"] {
  cursor: default;
}

.content-wrapper {
  height: 56px;
  width: 56px;
  cursor: pointer;
  background-color: rgb(251, 146, 60 );
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: white;
}

.content-wrapper[data-isOpen="true"] {
  width: 350px;
  height: 250px;
  padding: 13px 15px;
  justify-content: flex-end;
  align-items: flex-start;
  cursor: default;
  color:rgba(255, 255, 255, 0.05);
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(3.8px);
  -webkit-backdrop-filter: blur(3.8px);
}

@media (min-width: 768px) {
  .content-wrapper[data-isOpen="true"] {
    width: 400px;
  }
}